* {
    box-sizing: border-box;
}

:root {
    --dark-blue-rgb:34, 52, 59;
    --blue:rgb(56, 95, 110);
    --light-blue-rgb:135, 206, 235;
    --lighter-blue-rgb:195, 230, 245;
    --current-player:'✖';
}

html {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: rgb(var(--dark-blue-rgb));
}

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgb(var(--light-blue-rgb));
    border: solid 1px;
    height: 100vh;
}

header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px;
}

h1 {
    margin: 0;
    padding: 0;
}

menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap:10px;
    text-align: center;
}

.options {
    display: flex;
    justify-content: space-between;
}

.scoreboard {
    border: solid 1px;
    width: max-content;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#reset-scores {
    grid-column: span 2;
}

button {
    border:solid 1px rgba(var(--dark-blue-rgb),.5);
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(var(--lighter-blue-rgb));
    cursor: pointer;
    transition: .1s;
}

button:hover {
    opacity: .7;
}

button:active {
    opacity: 1;
}

main {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
}

#turnLabel {
    text-transform: capitalize;
}

.gameboard {
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    justify-content: center;
    align-items: center;
    gap:10px;
    font-size: 2rem;
    background-color: rgb(var(--lighter-blue-rgb));
    font-weight: bold;
}

.slot {
    width:5rem;
    height:5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(var(--light-blue-rgb));
    transition: .1s;
}

.slot[data-marker = 'null']::before {
    content: var(--current-player);
    opacity: 0;
    transition: .15s;
}
.slot[data-marker = 'null']:hover::before {
    content: var(--current-player);
    opacity: .3;
}

.slot[data-marker = 'x']::before {
    content: '✖';
    color: white;
}

.slot[data-marker = 'o']::before {
    content: '⭘';
    color: var(--blue);
}
