* {
    box-sizing: border-box;
}

:root {
    --dark-blue-rgb: 34, 52, 59;
    --blue: rgb(56, 95, 110);
    --light-blue-rgb: 135, 206, 235;
    --lighter-blue-rgb: 195, 230, 245;
    --current-player: 'X';
    --current-player-color: white;
}

html {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: rgb(var(--dark-blue-rgb));
}

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgb(var(--light-blue-rgb));
    height: 100vh;
}

header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1,
h3 {
    margin: 0;
    padding: 10px 0;
    font-family: 'Permanent Marker';
}

menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.options {
    display: flex;
    justify-content: center;
}

button {
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(var(--lighter-blue-rgb));
    cursor: pointer;
    transition: .1s;
    font-size: .8rem;
}

button:hover {
    opacity: .7;
}

button:active {
    opacity: 1;
}

main {
    display: flex;
    flex: auto;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#turnLabel {
    text-transform: capitalize;
}

.gameboard {
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

.slot {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .1s;
    font-family: 'Permanent Marker';
    font-size: 1.1em;
}

.slot:nth-child(3n + 0) {
    border-left: solid 5px rgb(var(--lighter-blue-rgb));
}
.slot:nth-child(3n + 1) {
    border-right: solid 5px rgb(var(--lighter-blue-rgb));
}
.slot:nth-child(3n + 2) {
    border-left: solid 5px rgb(var(--lighter-blue-rgb));
    border-right: solid 5px rgb(var(--lighter-blue-rgb));
}
.slot:nth-child(-n + 6) {
    border-bottom: solid 5px rgb(var(--lighter-blue-rgb));
}
.slot:nth-child(n + 4) {
    border-top: solid 5px rgb(var(--lighter-blue-rgb));
}

.slot[data-marker='null']::before {
    content: var(--current-player);
    color: var(--current-player-color);
    opacity: 0;
    transition: .15s;
}

.slot[data-marker='null']:hover::before {
    content: var(--current-player);
    color: var(--current-player-color);
    opacity: .3;
}

.slot[data-marker='x']::before {
    content: 'X';
    color: white;
}

.slot[data-marker='o']::before {
    content: 'O';
    color: var(--blue);
}

/* Win animation */
@keyframes wiggle {
    0% {
        transform: none;
    }

    25% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(10deg) scale(1.3);

    }

    75% {
        transform: rotate(-10deg) scale(1.3);
    }

    100% {
        transform: rotate(0deg);
    }
}

.winner::before {
    animation: wiggle 1s infinite;
}




footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

a,
a:active {
    color: var(--blue);
}

i,
a {
    cursor: pointer;
    transition: .2s;
}

i:hover,
a:hover {
    opacity: .5;
}

.modal-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.modal-bg {
    background-color: rgba(0, 0, 0, .3);
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.modal {
    max-width: 500px;
    height: fit-content;
    padding: 20px;
    background-color: rgb(var(--lighter-blue-rgb));
    box-shadow: 3px 3px 3px rgba(var(--dark-blue-rgb), .2);
    margin-top: 50px;
    position: relative;
    z-index: 9999999;
}

.modal-closed {
    display: none;
}

.close {
    font-size: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

.socials {
    display: flex;
    justify-content: space-evenly;
}